.contacts__form {
  margin: 0 auto;
  border-radius: 20px;
  padding: 52px;
  box-sizing: border-box;
}

/* Стилі для заголовку форми */
.contacts__header {
  margin: 50px auto 0;
  border-radius: 0;
  box-sizing: border-box;
}

.contacts__title {
  font-size: 48px;
  font-family: "Graphik", sans-serif;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  text-align: center;
}

.contacts__sub-title {
  font-size: 20px;
  font-family: "Graphik", sans-serif;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-top: 20px;
}
.contacts__form-text{
  margin-top: 52px;
  margin-bottom: 45px;
  font-family: "Graphik", sans-serif;
  color:#252B42;
}
.contacts__block {
  display: flex;
    width: 100%;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
}


.contacts__form {
  height: 100%;
  padding: 52px;
  background-color: #f7f7f7;
}

.form__form {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.form__input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 45px;
}

.form__submit {
  background-color: #00bfff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 212px;
}

.contacts__map {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.map__img-container {

}

.contacts__map-header {
  flex: 0 0 calc(100% - 516px);
}

.map__img {
  object-fit: cover;
}

.contacts__map-list {
  margin-bottom: 20px;
  display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.contacts__map-item {
    margin-bottom: 10px;
  }
  .contacts__map-item-text{
    text-decoration: none;
    font-family: "Graphik", sans-serif;
    color:#374754;
    margin-top: 20px;
    
  }
.contacts{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 40px;
    padding: 30px 0px;

}

.contacts__map-item-img {
}

.links__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
justify-content: center;  
}

.links__item {
  margin-right: 10px;
}

.links__item-img {

  }
  .contacts__map-links {
    margin-top: 20px;

  }
  @media screen and (max-width: 1000px) {
    .map__img-container{
      display: none;
    }
  }