* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary-blue-color: #2091F9;
	--white-color: #FFFFFF;
	--primary-gray-color: #252B42;
	--secondary-gray-color: #374754;
	--primary-bg-gray: #F4F4F4;
	--input-text-color: #18171D;
	--border-color: #D8D8D8;
	--border-pricing-item-color: #DEDEDE;
	--shadow-pricing-item: rgba(0, 0, 0, 0.25);
	--border-contacts-form: #DDDDDD;
	--shadow-contacts-form: rgba(0, 0, 0, 0.07);
	--contacts-form-input-bg: #F5F5F5;
	--border-form-color: #E8E8E8;
}
img {
	display: block;
}
body {
	font-family: 'Graphik', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
a {
	text-decoration: none;
	font-style: normal;
}
ul {
	list-style: none;
}
.section {
	padding: 50px 166px 50px 166px;
}
.button {
	background-color: var(--primary-blue-color);
	border: none;
	border-radius: 50px;
	text-align: center;
	padding: 16px 62px;
	cursor: pointer;
	border: none;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	font-size: 20px;
	line-height: 1;
	letter-spacing: 0.2px;
	color: var(--white-color);
}
.header-wrap {
	background-image: url(images/Rectangle.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.header__section {
	padding: 0 166px;
	display: flex;
	align-items: center;
}
.navigation {
	padding: 55px 0;
}
.navigation__list {
	display: flex;
	gap: 21px;
}
.navigation__list-item {
	font-size: 15px;
	line-height: 1.8667;
	letter-spacing: 0.2px;
	color: var(--white-color);
	padding: 10px;
}
.navigation__item:last-child {
	margin-right: 5px;
}
.logo {
	margin-right: auto;
}
.header__social {
	display: flex;
	align-items: center;
	gap: 24px;
}
.header__social-link {
	display: block;
}
.header__social-icon {
	fill: var(--white-color);
}
.hero-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 0 358px 0;
}
.hero-container {
	max-width: 765px;
	margin: auto;
}
.hero__title {
	font-weight: 700;
	font-size: 74px;
	line-height: 1.1351;
	text-align: center;
	letter-spacing: 0.2px;
	color: var(--white-color);
	margin-bottom: 17px;
}
.hero__undertitle {
	font-size: 28px;
	line-height: 1.4285;
	text-align: center;
	letter-spacing: 0.2px;
	color: var(--white-color);
	margin-bottom: 80px;
}
.navigation1 {
	display: none;
}
@media screen and (max-width: 1000px) {
	.header__section {
		padding: 0 16px;
		display: flex;
		align-items: center;
	}
	.navigation {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: #fff;
		padding: 16px;
		display: none;
	}
	.navigation--active {
		display: block;
	}
	.navigation__list {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	.navigation__item:last-child {
		margin-right: 0;
	}
	.logo {
		margin-right: auto;
		z-index: 1;
	}
	.header__social {
		display: none;
	}
}
@media screen and (max-width: 1000px) {
	.navigation__list1 {
		margin-top: 120px;
	}
	.navigation1 {
		display: none;
		flex-direction: column;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow-y: auto;
		padding: 50px 40px;
		background-color: #18171D;
		transition: height 0.3s ease-in-out;
	}
	.menu-btn {
		z-index: 1;
		display: flex;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: relative;
		justify-content: flex-end;
		align-items: center;
	}
	.menu-btn span {
		height: 2px;
		width: 40%;
		transform: scale(1);
		background-color: #F4F4F4;
	}
	.menu-btn span::before,
	.menu-btn span::after {
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -1px;
		width: 20px;
		height: 2px;
		background-color: #ffffff;
		transition: transform 0.3s ease-in-out;
	}
	.menu-btn span::before,
	.menu-btn span::after {
		content: "";
		display: block;
		transition: 0.5s;
	}
	.menu-btn span::before {
		transform: translateY(-5px);
	}
	.menu-btn span::after {
		transform: translateY(5px);
	}
	.menu-btn_active span:before {
		transform: rotate(-45deg);
	}
	.menu-btn_active span {
		height: 0;
	}
	.menu-btn_active span:after {
		transform: rotate(45deg);
	}
}