@media screen and (max-width: 767px) {

    .head {
        height: 100vh;
        min-height: 300px;
        background-size: cover;
        background-position: center;
    }
    
    .header-line {
    padding: 10px;
    }
    
    .control-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    
    .control-buttons-item {
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    }
    
    .cover-image {
    margin-top: 20px;
    }
    
    .title-section {
    margin-top: 100px;
    }
    
    .main-title h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
    }
    
    .secondary-title p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
    }
    
    .features__title {
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 20px;
    }
    
    .features__item {
    margin-bottom: 50px;
    }
    
    .features__item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    }
    
    .features__item h3 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
    }
    
    .features__item p {
    font-size: 18px;
    line-height: 25px;
    }
    
    .btn a {
    width: 200px;
    height: 42px;
    font-size: 18px;
    line-height: 22px;
    }
    
    .social-icons {
    justify-content: center;
    padding: 20px;
    }
    
    }
    