.newsletter {

}
.newsletter__form p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.newsletter__image img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 2rem;
  margin-top: 2rem;
}