.main-title h1{
    font-family: sans-serif ,"Graphik";

font-style: normal;
font-weight: 700;
font-size: 74px;
line-height: 84px;
text-align: center;
letter-spacing: 0.2px;
margin-bottom: 27px;

color: #FFFFFF;
}
.features{
padding-top: 120px;

}
.secondary-title p{
    font-family: sans-serif ,"Graphik";
    
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    padding-top: 27px; 
    color: #FFFFFF;
    margin-bottom: 90px;
}
.features {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
  }
main{
    padding-top: 200px;
}
  .features__title {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    padding-bottom: 27px;


  }
  .options {
    padding-left: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: center;
    margin-bottom: 30px;
  }
  .option__description{
width: 117%;
    font-family: 'Graphik' sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;
letter-spacing: 0.2px;

/* second text */
color: #374754;
  }
  .option_item{
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    padding-right: 76px;

    
  }
  
  @media screen and (min-width: 768px) {
    .options {
      max-width: 768px;
      margin: 0 auto;
    }
  }
.features__description{
font-family: 'Graphik' sans-serif;
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 40px;
text-align: center;
letter-spacing: 0.2px;
color: #374754;

}
  
.option__title{
/* H3 */
font-family: 'Graphik' sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
/* or 140% */
text-align: center;
letter-spacing: 0.1px;

/* text */
color: #252B42;
}
.video{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.video img{
  max-width: 100%;
  height: auto;
}
.button_video{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 10vw;
  height: 10vw;
  max-width: 187.4px; 
  max-height: 187.4px; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5vw;
  border: none;
  border-radius: 50%;
  background: #2091F9;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}