@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: white;
    --accent-color:  #a6c7cf;
    font-family: sans-serif ,"Graphik";
    scroll-behavior: smooth;
}



.container {
    max-width: 1200px;
    margin: auto;
}


.head{
    background:url(images/Rectangle\ 9.png);
    background-size: cover;
    background-position: 50% 50%;
    min-height: 500px;
    height: 1000px;
    color: #FFFFFF;
    
}
@media (max-width: 768px) {
  .control-buttons {
    display: none;
  }
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1001;
  }
  .menu-icon span {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #333;
    border-radius: 3px;
    z-index: 1001;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }
  .menu-icon span:first-child {
    transform-origin: 0% 0%;
  }
  .menu-icon span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .menu-icon.open span:first-child {

transform: rotate(45deg) translate(5px, 6px);
}
.menu-icon.open span:nth-last-child(2) {
transform: rotate(-45deg) translate(5px, -6px);
}
.menu-icon.open span:nth-child(3) {
opacity: 0;
}
.menu-icon.open {
z-index: 1001;
}
}

.mobile-menu {
display: none;
}

@media (max-width: 768px) {
.mobile-menu {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background-color: #fff;
z-index: 1000;
transform: translateX(-100%);
transition: transform 0.5s ease;
}
.mobile-menu.show {
transform: translateX(0%);
}
.mobile-menu a {
margin-bottom: 30px;
font-size: 20px;
font-weight: bold;
color: #333;
text-decoration: none;
transition: color 0.2s ease-in-out;
}
.mobile-menu a:hover {
color: var(--main-color);
}
}

.header-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.control-buttons {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 41px;
    justify-content: center;
    align-items: center;  
}
.control-buttons-item:nth-child(1){
    width: 25px;
}
.control-buttons-item:nth-child(2){
    width: 41px;
}
.control-buttons-item:nth-child(3){
    width: 30px;
}
.control-buttons-item:nth-child(4){
    width: 20px;
}
.control-buttons-item:nth-child(5){
    width: 41px;
}
  
  .control-buttons-item {
    color: #333;
    text-decoration: none;
    font-size: 15px;
    font-weight: 100;
    font-weight: bold;
    font-family: "Graphik" sans-serif;

  }
  


.control-buttons a {
    font-size: 15px;
    color: var(--main-color);
    text-decoration: none;
    display: inline-block;
}
.cover-image {
    display: flex;
    justify-content: center;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}



.title-section {
    text-align: center;
    margin-top: 159px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.btn a{
display: flex;
flex-direction: column;
justify-content: center;
width: 236px;
height: 52px;
background: #2091F9;
border-radius: 35px;
font-family: sans-serif ,"Graphik";


font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;

color: #FFFFFF;

text-decoration: none;




  

}
.main-title h1{
    font-family: sans-serif ,"Graphik";
width: 672px;
height: 168px;

font-style: normal;
font-weight: 700;
font-size: 74px;
line-height: 84px;
text-align: center;
letter-spacing: 0.2px;
margin-bottom: 27px;

color: #FFFFFF;

}
.secondary-title p{
    font-family: sans-serif ,"Graphik";
    width: 766px;
    height: 80px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    padding-top: 27px; 
    color: #FFFFFF;
    margin-bottom: 90px;
}
.features {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
  }
main{
    padding-top: 200px;
}
  .features__title {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    padding-bottom: 27px;


  }
  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: center;
    margin-bottom: 30px;
  }
  .option__description{
    /* Paragraphe */
font-family: 'Graphik' sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* or 139% */
text-align: center;
letter-spacing: 0.2px;

/* second text */
color: #374754;
  }
  .option_1{
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    padding-right: 76px;
    width: 700px;
    height: 257px;

    
  }
  .option_2{
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-right: 76px;
    width: 800px;
    height: 257px;

    
  }
  .option_3{
    text-align: center;
    margin-bottom: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 700px;
    height: 257px;

    
  }
  
  @media screen and (min-width: 768px) {
    .options {
      max-width: 768px;
      margin: 0 auto;
    }
  }
.features__description{
font-family: 'Graphik' sans-serif;
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 40px;
text-align: center;
letter-spacing: 0.2px;
color: #374754;
width: 532px;
height: 80px;

}
  
.option__title{
/* H3 */
font-family: 'Graphik' sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
/* or 140% */
text-align: center;
letter-spacing: 0.1px;

/* text */
color: #252B42;
}
.video{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.video img{
  max-width: 100%;
  height: auto;
}
.button_video{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 10vw;
  height: 10vw;
  max-width: 187.4px; 
  max-height: 187.4px; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5vw;
  border: none;
  border-radius: 50%;
  background: #2091F9;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}
section.flex-container {
  display: flex;
  flex-direction: row;
  height: 924px;
  padding: 226px 82px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  top: 2484.3px;
}

div.content {
  display: flex;
  flex-direction: row;
  width: 1131.3px;
  height: 472px;
  padding: 43px 0;
  gap: 50px;
  align-items: center;
  justify-content: center;
  top: 226px;
  left: 266.85px;
}
.text-content{
margin-bottom: 27px;
  Width:335px;
  Height:110px;
font-family: 'Graphik' sans-serif;
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 55px;
letter-spacing: 0.2px;

color: #252B42;

}
div.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

div.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

div.image img {
  width: 481.42px;
  height: 300.86px;
  position: relative;
  top: 14.07px;
  left: 70.44px;
}
.p-content{
margin-bottom: 70px;
width: 532px;
height: 80px;

font-family: 'Graphik' sans-serif;
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 40px;
letter-spacing: 0.2px;

color: #374754;
}
.features__button {
  display: inline-block;
  height: 60px;
  width: 236px;
  position: relative;
  border-radius: 35px;
  background-color: #2091F9;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 20px 0px;
  left: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
}
.features__button:hover {
  background-color: #0c6cc3;
  cursor: pointer;
}
.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 638px;
  top: 44px;
  left: -108.23px;
  padding: 0px 50px;
}

.newsletter__image {
  width: 606.23px;
  height: 314px;
}

.newsletter__content {
  max-width: 500px;
}

.newsletter_subtitle {
  font-family: 'Graphik' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  margin-bottom: 17px;
  color: #252B42;
}
.newsletter__subtitle {
  font-family: 'Graphik' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.newsletter__title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 10px;
  font-family: 'Graphik' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  margin-bottom: 35px;
  color: #252B42;
}

.newsletter__description {

font-family: 'Graphik' sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.2px;
margin-bottom: 36px;
color: #374754;





}

.newsletter__input {
  padding: 10px;
  width: 273px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.newsletter__button {
  padding: 10px 20px;
  background-color: #0095f6;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: 'Graphik', sans-serif;
  font-style: normal;
}
.newsletter__form{
  display: flex;
}




.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.partners__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 222px;
  margin-bottom: 80px;

}

.partners__title {
font-family: 'Graphik' sans-serif;
font-size: 48px;
margin-bottom: 20px;
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 55px;
text-align: center;
letter-spacing: 0.2px;
color: #252B42;
}

.partners__undertitle {
  font-family: 'Graphik' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #374754;
}

.partners__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
  padding: 31px 40px;
  box-sizing: border-box;
}

.partners__icons a {
  width: 273px;
  height: 163px;
}

.partners__icons img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}







.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
}

.testimonials__title {
  font-family: 'Graphik', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 90px;
}

.testimonials__undertitle {
  font-family: 'Graphik', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 60px;
  text-align: center;
}


.ibm__img {
  max-width: 100%;
  margin-bottom: 60px;
}

.client-png{
  height: 55px;
  width: 186px;
  left: 400.5px;
  top: 260px;
border-radius: 0px;
margin-bottom: 90px;

}





.prising{
background-color: #252B42;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 170px;
height: 1155px;

}
.prising__title{
  font-family: 'Graphik', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 90px;
  text-align: center;
  margin-top: 110px;
margin-bottom: 27px;
}


.prising__undertitle{
  font-family: 'Graphik', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 60px;
  text-align: center;
}


.pricing {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.pricing__block {
  background-color: #ffffff;
  height: 607px;
  width: 335px;
  left: 0px;
  top: 43px;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.pricing__block--free {
  margin-right: 50px;
}

.pricing__block--standard {
  background-color: #2091F9;
  margin-right: 50px;
  height: 693px;
  width: 335px;
  left: 385px;
  border-radius: 10px;
  padding: 83px 40px;
}

.pricing__block--business {
  height: 607px;
  width: 335px;
  left: 0px;
  top: 43px;
  border-radius: 10px;
  padding: 40px;
}

.pricing__block-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.pricing__block-text {
  font-size: 16px;
  margin-top: 25px;
  text-align: center;
}

.pricing__block-price {
  font-size: 40px;
  font-weight: bold;
  margin-top: 25px;
  text-align: center;
}

.pricing__block-subtitle {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

.pricing__block-feature {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

.pricing__block-button {
  background-color: #2091F9;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
}

.pricing__block-button-standart {
  background-color: #ffffff;
  color: #2091F9;
  border: 2px solid #2091F9;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
}

.pricing__block-button:hover {
  opacity: 0.8;
}

.pricing__block-button-standart:hover {
  opacity: 0.8;
  background-color:#2091F9;
  color: #ffffff;
}







/* Стилі для контейнера форми */
.contacts__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 669px;
  width: 453px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 52px;
  box-sizing: border-box;
}

/* Стилі для заголовку форми */
.contacts__header {
  height: 182px;
  width: 552px;
  margin: 50px auto 0;
  border-radius: 0;
  box-sizing: border-box;
}

.contacts__title {
  font-size: 48px;
  font-family: "Graphik", sans-serif;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  text-align: center;
}

.contacts__sub-title {
  font-size: 20px;
  font-family: "Graphik", sans-serif;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-top: 20px;
}
.contacts__form-text{
  display: flex;
  justify-content: center;
  margin-top: 52px;
  margin-bottom: 45px;
  font-family: "Graphik", sans-serif;
  color:#252B42;
}
.contacts__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 669px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

.contacts__form {
  height: 100%;
  padding: 52px;
  background-color: #f7f7f7;
}

.form__form {
  display: flex;
  flex-direction: column;
  width: 453px;
  padding: 55px 70px;
}

.form__input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 45px;
}

.form__submit {
  background-color: #00bfff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 212px;
}

.contacts__map {
  width: 725px;
    height: 634px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.map__img-container {

}

.contacts__map-header {
  flex: 0 0 calc(100% - 516px);
}

.map__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts__map-list {
  margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contacts__map-item {
  display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
    width: 200px;
    text-align: center;
  }
  .contacts__map-item-text{
    text-decoration: none;
    font-family: "Graphik", sans-serif;
    color:#374754;
    margin-top: 20px;
    
  }
.contacts__map-item-img {
  margin-right: 10px;
}

.links__list {
  display: flex;
  margin-right: 481px;
  list-style-type: none;
}

.links__item {
  margin-right: 10px;
}

.links__item-img {
  width: 30px;
  height: 30px;
  }










  .footer {
    display: flex;
    background-color: #252B42;
    height: 567px;
    border-radius: 0px;
    padding: 150px 0px;
    align-items: center;
  }
  
  .footer__nav, .footer__menu, .footer__contacts {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 0 30px;
  }
  
  .footer__nav-list, .footer__menu-list, .footer__contacts-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer__nav-list-title, .footer__menu-list-title {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .footer__nav-list-item, .footer__menu-list-item, .footer__contacts-list-item {
    margin-bottom: 10px;
    font-size: 14px;
    color: #A5A5A5;
    line-height: 24px;
  }
  
  .footer__nav-list-item a {
    color: #A5A5A5;
    text-decoration: none;
  }
  
  .footer__nav-list-item a:hover {
    color: #fff;
  }
  
  .social__links-item {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social__links-item:last-child {
    margin-right: 0;
  }
  
  .social__links-item a img {
    width: 20px;
    height: 20px;
  }
  
  .footer__contacts-list-item {
    font-size: 14px;
    color: #A5A5A5;
    line-height: 24px;
  }
  
  .footer__contacts-list-item img {
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .footer__contacts-list-item a {
    color: #A5A5A5;
    text-decoration: none;
  }
  
  .footer__contacts-list-item a:hover {
    color: #fff;
  }
  