@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url(header.css);
@import url(secondary-title.css);
@import url(fastest-way.css);
@import url(newsletter.css);
@import url(partners.css);
@import url(pricing.css);
@import url(contacts.css);
@import url(footer.css);
@import url(testimonials.css);
img{
  
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --main-color: white;
    --accent-color:  #a6c7cf;
    --color-font-for-headings: rgb(244, 244, 244);
    --color-font-for-paragraphs: rgb(231, 221, 221);
    --color-red: #E03033;
    --color-darak-gray: rgb(181, 181, 181);
    --background-dark: rgb(25, 25, 25);
    --more-dark: rgb(16, 16, 16);
    --color-for-form: rgb(31, 31, 31);
    --color-for-form-input: rgb(34, 34, 34);
    --color-for-form-input-text: rgb(181, 181, 181);
    --color-for-menu-burger : rgba(0, 0, 0, 0.9);
    scroll-behavior: smooth;
}
