@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url(header.css);
@import url(secondary-title.css);
@import url(fastest-way.css);
@import url(newsletter.css);
@import url(partners.css);
@import url(pricing.css);
@import url(contacts.css);
@import url(footer.css);
@import url(testimonials.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --main-color: white;
    --accent-color:  #a6c7cf;
    --color-font-for-headings: rgb(244, 244, 244);
    --color-font-for-paragraphs: rgb(231, 221, 221);
    --color-red: #E03033;
    --color-darak-gray: rgb(181, 181, 181);
    --background-dark: rgb(25, 25, 25);
    --more-dark: rgb(16, 16, 16);
    --color-for-form: rgb(31, 31, 31);
    --color-for-form-input: rgb(34, 34, 34);
    --color-for-form-input-text: rgb(181, 181, 181);
    --color-for-menu-burger : rgba(0, 0, 0, 0.9);
    --accent-color: #2091F9;
    --backgrond-color: #252B42;
    --contrast-color: #FFFFFF;
    --input-color: #F4F4F4;
    --input-border-color: #E8E8E8;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    scroll-behavior: smooth;
    text-align: center;
    letter-spacing: 0.2px;
    scroll-behavior: smooth;
}
img {
  display: block;
  margin: 0 auto;
}
.open{
  display: flex !important;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}
section{
  padding: 0 15px;
}
.button-bold-text {
  background: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 35px;
  border-style: none;
  color: var(--contrast-color);
  font-size: 20px;
  font-weight: 600;
  padding: 16px 48px;
  display: inline-block;
  white-space: nowrap;  

}

.button-main-text {
  background: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 35px;
  border-style: none;
  color: var(--contrast-color);
  font-size: 20px;
  padding: 16px 48px;
  display: inline-block;
  white-space: nowrap;  
}
.input-text {
  font-size: 14px;
  padding: 16px 48px;
  display: inline-block;
  white-space: nowrap;  
  background: var(--input-color);
  border: 1px solid var(--input-border-color);
  border-radius: 39px;
}
.input-text-area {
  font-size: 14px;
  padding: 16px 48px;
  display: inline-block;
  white-space: nowrap;  
  background: var(--input-color);
  border: 1px solid var(--input-border-color);

}
@media (min-width: 768px) {

  .container {
      max-width: 740px;
  }
}

@media (min-width: 900px) {
  .section {
      padding: 50px 0;
  }

  .container {
      max-width: 860px;
  }
}

@media (min-width: 1280px) {

  .container {
      max-width: 1200px;
  }
}